# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
dataDir=/var/zookeeper
# the port at which the clients will connect
clientPort=2181
server.1=nox-srw-zk-1.vip.ebay.com:2888:3888
server.2=nox-srw-zk-2.vip.ebay.com:2888:3888
server.3=nox-srw-zk-3.vip.ebay.com:2888:3888
#
#
# EHF 6/13/2011
# Cloudera Ticket #3456
# Fixes Bug: https://issues.apache.org/jira/browse/HBASE-3773
#
# EHF 7/6/2011
# increased to 5000 per AISOP13795470
#
maxClientCnxns=5000
#
# EHF 7/15/2011
# increate maxSessionTimeout to 3 minutes per CHNGE13830540
maxSessionTimeout=180000
